h1 {
    color: black;
    font-family: pecita;
    text-align: center;
}
h2 {
    color: black;
    font-family: pecita;
    text-align: center;
}
p {
    color: black;
    font-family: pecita;
    text-align: justify;
}
a {
    color: black;
    font-family: pecita;
    text-align: center;
}
img.figma {
    width: 100px;
    display: flex;
}
footer{
   display: flex: ;
}