body{
    margin-top: 10px;
    align-items: center;
}
h1 {
    color: black;
    font-family: pecita;
    text-align: center;
}
h2 {
    color: black;
    font-family: pecita;
    text-align: center;
}
p {
    color: black;
    font-family: pecita;
    text-align: justify;
}
a {
    color: black;
    font-family: pecita;
    text-align: center;
}

.texto{
    padding: 0 10%;
}

img.figma {
    width: 100px;
    display: flex;
}
footer{
    justify-content: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    p{
        font-size: 20px;
    }