h1 {
    color: black;
    font-family: pecita;
}
h2 {
    color: black;
    font-family: pecita;
}
p {
    color: black;
    font-family: pecita;
}
a {
    color: black;
    font-family: pecita;
}
img {
    width: 100px;
    display: flex;
}