h1{
    font-size: 60px;
    text-align: center;
    font-family: pecita;
}

p{
    font-size: 14px;
    text-align: justify;
    font-family: pecita;
}
.footer{
    font-size: 20px;
    text-align: center;
    font-family: pecita;
}