
h1{
    color: black;
    font-size: 32px;
    text-align: center;
    font-family: pecita;
}

h2{
    color: black;
    font-size: 24px;
    text-align: center;
    font-family: pecita;
}

p {
    color: black;
    font-size: 12px;
    text-align: justify;
    font-family: pecita;
    }

footer {
    font-size: 12px;
    text-align: center;
}

a{
        text-decoration: none;
        align-items: center;
      }