p {
color: black;
}
h1{
    color: black;
    font-size: ;
    text-align: center;
}
h2{
    color: black;
    font-size: ;
    text-align: center;
}
p {
    color: black;
    font-size: ;
    text-align: justify;
    }

}

.img-icon {
    width: 5px;
    display: inline-flexbox;
}