p {
color: black;
font-family: pecita;
}
h1{
    color: black;
    font-size: ;
    text-align: center;
    font-family: pecita;
}
h2{
    color: black;
    font-size: ;
    text-align: center;
    font-family: pecita;
}
p {
    color: black;
    font-size: ;
    text-align: justify;
    font-family: pecita;
    }

}

.absolute {
    width: 60px;
    display: flex;
}