body{
  margin: 0;
  background-color:seashell;
}

.blocos{
  width: 100px;
}

.grupo-blocos {
  display: flex;
  text-align: center;
}


.footer{
  width: 100%;
}

a {
  text-decoration: none;
}

@media (min-width: 768px) {
  .blocos{
    width: 32%;
  }
  .grupo-blocos {
    width: 60%;
    justify-content: center;
    flex-direction: column;
    padding: 0 20%;
  }

  footer {
    padding: 0 20%;
  }
  
}