body{
  margin: 0;
}

.blocos{
  width: 32%;
  
}

.div-color{
  background-color:seashell;
}

.grupo-blocos{
  text-align: center;
}

.footer{
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}